<%- include('../includes/html-head.ejs') %>
    <%- include('../includes/admin-header.ejs') %><br>
    <hr>
    <br>
    <div class="container">
        <div class="admin__heading">
            <h1 class="heading-title">Admin board </h1>
            <div class="admin__form">
                <input type="text" 
                        name="search" 
                        class="admin__search"
                        placeholder="Enter your search here">
                <i class="fas fa-search admin__icon"></i>            
            </div>
        </div>
    </div>

<%- include('../includes/footer.ejs') %>