
<footer>
        <div class="footer__wrapper ">
            <ul class="footer__nav">
                <li class="footer__item">
                    <a href="/" class="footer__link" >Home page</a>
                </li>
                 <li class="footer__item">
                    <a class="footer__link" href="/teacher/signup">Sign up</a>
                </li>
                 <li class="footer__item">
                    <a class="footer__link" href="#"><%= page %></a>
                </li>
                <hr>
            </ul>
            <small class="text-center footer__small">Designed and developed my Phan Huu Toan</small>
        </div>            
    </footer>