<nav class="navbar navbar-expand-lg navbar-light bg-warning navbar__style">
    <div class="container">
        <a class="navbar-brand navbar__brand" href="/teacher">Teacher Board</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar__wrapper" id="navbarNavAltMarkup" >
            <div class="navbar-nav">
                <a class="nav-item nav-link <%= path === '/teacher/schedule' ? 'active' : '' %>" 
                    href="/admin/course">
                        Thời khóa biểu
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link <%= path === '/teacher/album' ? 'active' : '' %>" 
                    href="/admin/event">
                        Album khóa học
                </a>
            </div>
            <form action="/teacher/logout" method="POST">
                <button href="#" class="btn btn-dark">Log out</button>               
            </form>
        </div>
    </div>
</nav>