<%- include('./includes/html-head.ejs') %>
    <%- include('./includes/client-header.ejs') %>

    <div class="grid">
        <div class="grid__container ">
            
            <div class="about-page">
                <h1 class="heading heading--1">Hiểu rõ hơn về chúng tôi</h1>

                <div class="about-page__body">
                   
                    <div class="about-page__left">
                        <div class="about-page__section">
                            <h3 class="about-page__title">
                                Khó khăn
                            </h3>
                            <p>AK được thành lập dựa trên niềm mơ ước của mộ cô sinh viên khoa Nga. 
                                Rớt Đại Học Kinh Tế Đà Nẵng ngay từ lần thi đầu tiên, cô học sinh cấp 3 Mỹ Huyền ( 1994 ) đã quyết tâm ôn thi lại một lần nữa và lần này cô đặt mục tiêu vào khoa tiếng Anh trường ĐHNN Đà Nẵng. Nhưng vì gia đình không có nhiều điều kiện như những bạn khác, và vốn từ tiếng Anh của cô gần như là số 0, nên cô đã quyết tâm tự học ngày học đêm để có thể thực hiện được mong muốn của bản thân, mặc dù thời gian quá hạn hẹp. <br>
                                Lần thi thứ 2 kết thúc, cô trượt tiếp nguyện vọng 1 khoa Anh vì thiếu 0.5 điểm, mọi thứ như đổ sập trước mắt cô, biết bao nhiêu gánh nặng về tài chính đổ ập lên cô. Và cô đã có lần buông xuôi hết để mặc mọi chuyện ra sao thì ra, vì cô nghĩ rằng bản thân mình vô dụng dù cố đến mấy cũng không thể làm được điều gì là thành công. 
                                Cô đậu vào nguyện vọng 2 khoa Nga của DHNN, cô học hành chểnh mảng trong những tháng đầu tiên vì cô đây không phải là ngành mà cô muốn học, thay vào đó cô tập trung đi làm part time bên ngoài để kiếm thêm tiền trang trải cho gia đình. 
                                Rồi đến một ngày, cô chợt nhận ra rằng bản thân mình đang giậm chân tại chỗ, bản thân mình đang tự tạo áp lực cho mình, cho gia đình và cho mọi người xung quanh.  <br>
                                Chính những lời nói động viên của các giảng viên khoa Nga, gia đình và bạn bè xung quanh cô đã khiến cô thay đổi bản thân. Cô nhận ra được rằng nếu bản thân mình không thông minh thì mình sẽ nỗ lưc để bù đắp. Nếu người khác học 1 biết 10 thì mình sẽ học 100 để biết 10. 
                            </p>
                        </div>
                        <div class="about-page__section">
                            <h3 class="about-page__title">
                               Tinh thần 
                            </h3>
                            <p>Cô bắt đầu lại từ đầu từ số 0, cô học và học. Và lần này điều kỳ diệu đã xảy ra Học Kỳ 1 của Năm 1 cô đạt học bổng sinh viên tiêu biểu trong Khoa. Và như 1 cơn diều gặp gió, và đã xác định rõ hướng đi của bản thân, cô lại tiếp tục đạt học bổng của kỳ 2, kỳ 3, kỳ 4 … và dần trở thành một sinh viên gương mẫu đại diện cho Khoa. <br>
                                Đến năm 3 cô quyết định học thêm 1 ngoại ngữ bên ngoài để ra trường dễ dàng kiếm việc làm hơn. Và ngoại ngữ mà cô lựa chọn là tiếng Trung. 
                                Và đó cũng là lần đầu tiên cô thử đi học Trung Tâm, vì đối với một thứ tiếng hoàn toàn mới thì lộ trình học như thế nào cho hợp lý đối với cô là một điều vô cùng quan trọng. <br>
                                Tuy nhiên đúng 1 tháng sau cô bỏ học và về nhà tự lên mày mò, cô nhận ra được rằng học ở trung tâm 3 buổi/1 tuần, gần 12 buổi  trôi qua nhưng kiến thức mà cô nhận về được chỉ vỏn vẹn bằng 1 ngày cô tự học. Cô bắt đầu tìm kiếm các phương pháp, lộ trình học, tham khảo hàng trăm video trên mạng để tự chế ra một cách học riêng cho bản thân mình. <br>
                                Và cũng với lối quan niệm nếu bạn thông minh học 1 biết 10, thì tôi sẽ học 100 để biết 10 hoặc thậm chí học 1000 để có thể vượt bạn. Cô Huyền đã làm điều đó, cô học gần như cả ngày, chỉ lao đầu vào sách vở để học tiếng Trung, Sáng, Trưa, Chiều, Tối . Cô đặt mục tiêu học đến 12h khuya và 5h sáng hôm sau dậy để học. Nhưng điều mà ai cũng nể vì học bổng các kỳ Khoa Nga người nhận duy nhất là cô ( Tổng số kỳ cô nhận học bổng là 7/8 và tốt nghiệp thủ khoa Xuất sắc Khoa Nga ) 
                                    
                            </p>
                        </div>
                        <div class="about-page__section">
                                <h3 class="about-page__title">
                                   Bước ngoặc 
                                </h3>
                                <p>Và điều kỳ diệu đã xảy ra chỉ sau vỏn vẹn 15 tháng tự học tiếng Trung, cô đã thi đậu bằng HSK5 ( Bằng đầu ra 4 năm học ĐHNN chuyên ngành khoa Trung ). Chưa dừng lại ở đó, cô bắt đầu lên kế hoạch tiếp cho bản thân trở thành một hướng dẫn viên chuyên nghiệp. Cô kết bạn rất nhiều người Trung Quốc, cô nói chuyện với họ gần như cả ngày, rồi tự trở thành một người dẫn họ đi tham quan những nơi tại Đà Nẵng mà không lấy bất cứ một đồng. Cô túc trực trên các diễn đàn về nhóm du lịch hàng ngày chỉ để ước ao có cơ hội được tiếp xúc với người TQ liên tục. 
                                Có một câu chuyện đã xảy ra làm thay đổi toàn bộ ước muốn trở thành HDV du lịch của cô, có cậu học sinh khi thấy 1 đoạn video cô đã đăng lên về việc tự học tiếng Trung trong 15 tháng để lấy bằng HSK5 đã inbox cô liên tục để nhờ cô dạy bạn ấy online, chỉ bạn ấy cách học tiếng Trung thế nào là cho đúng đắn. Cô đã từng như cậu học sinh ấy, đã từng nếm trải tài chính khó khăn như thế nào, việc học lệ thuộc và không đi đâu vào đâu cả khi đi học ngoài ra sao. Đã quyết định thay đổi cuộc đời cô từ đó 
                                        
                                </p>
                            </div>
                    </div>
                    
    
                    <div class="about-page__right">
                        <img src="images/about-page.jpg" alt="about" class="about-page__img">
                    </div>
    
                </div>
            </div>
            <br>
        </div>
    </div>

    <%- include('./includes/client-footer.ejs') %>
<%- include('./includes/footer.ejs') %>