<%- include('./includes/html-head.ejs') %>
    <%- include('./includes/client-header.ejs') %>

    <h1>Event detail here</h1>

    <%- include('./includes/client-footer.ejs') %>
<%- include('./includes/footer.ejs') %>