<%- include('./includes/html-head.ejs') %>

    <h1><%= title %></h1>
    <h2>This is also a homepage</h2>
    <a href="/teacher">Teacher Page</a>
    <a href="/admin">Admin board</a>
    <a href="/teacher/signup">Signup</a>
    <a href="/teacher/login">Login</a>

<%- include('./includes/footer.ejs') %>
