.about-page{
    margin: 11rem auto;

    &__body{
        display: flex;
        margin-top: 8rem;
        @media screen and (max-width: 900px){
            flex-direction: column;
        }
    }
    &__section{
        margin-bottom: 4rem;
    }
    &__left{
        flex: 3;
        margin: 0 2rem;
        padding: 2rem;
        border: 1px solid rgba(0,0,0,.2);
        overflow-x: hidden;
        overflow-y: auto;
        height: 73.6rem;
        @media screen and (max-width: 900px){
            margin: 0;
            margin-bottom: 2rem;
        }
    }
    &__right{
        flex: 2;
        
        @media screen and (max-width: 600px){
            display: none;
         }
    }
    &__title{
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-primary;
        margin-bottom: 1.5rem;
    }
    &__img{
        object-fit: cover;
        object-position: top;
        width: 53rem;
        animation: fadeIn .5s ease backwards;
    }
    &__final{
        font-style: italic;
        font-family: $font-title;
        color: $color-secondary;
    }
    &__hidden{
        display: none !important;
    }
    
    &__display{
        display: block ;
    }
}


