.admin{
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__search{
        border: none;
        background-color: #ececec;
        border-radius: 50rem;
        padding: .2rem 3rem;
        width: 33rem;
        height: 50%;
        transition: all .3s;

        &:focus{
            outline: none;
            border: solid 1px $color-primary;
        }
    }

    &__form{
        position: relative;
        width: 80%;
        height: 8.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__icon{
        font-size: 2rem;
        position: absolute;
        top: 3.4rem;
        right: 2rem;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            color: $color-secondary;
        }
    }
}
.create{

    &__form{
        display: flex;
        justify-content: center;

        &--width{
            width: 70%;
            margin-top: 3rem;
        }
    }
    &__group{
        display: flex;
        input{
            margin-right: 3rem;
        }
    }
}

.course-info{
    margin-bottom: 5rem;

    &__wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
        grid-column-gap: 4.9rem;
        grid-row-gap: 6rem;
        justify-content: center;
        margin-top: 8rem;
    }
    &__card-img{
        height: 21rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.inc-event{
    display: flex;    
    align-items: center;

    &__img{
        height: 23rem;
        width: 39rem;
        object-fit: cover;
        object-position: center;
        padding-right: 2rem;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        font-family: $font-title;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: $color-secondary;
    }
    small{
        margin-bottom: 2rem;
    }
    &__content{
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
}