.admin{
    &__heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__search{
        border: none;
        background-color: #ececec;
        border-radius: 50rem;
        padding: .2rem 3rem;
        width: 33rem;
        height: 100%;
        transition: all .3s;

        @media screen and (max-width: 430px){
            width: 20rem;
        }

        &:focus{
            outline: none;
            border: solid 1px $color-primary;
        }
    }

    &__form{
        position: relative;
        width: 80%;
        height: 8.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__icon{
        font-size: 2rem;
        position: absolute;
        top: 3.4rem;
        right: 4rem;
        cursor: pointer;
        transition: all .3s;

        &:hover{
            color: $color-secondary;
        }
    }
}
.create{

    &__form{
        display: flex;
        justify-content: center;

        &--width{
            width: 70%;
            margin-top: 3rem;
        }
    }
    &__group{
        display: flex;
        input{
            margin-right: 3rem;
        }
    }
}

.course-info{
    margin-bottom: 5rem;

    &__wrap{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
        grid-row-gap: 6rem;
        grid-column-gap: 4.6rem;
        justify-content: center;
        margin-top: 8rem;
        & .card{
            margin-left: 0;
            margin-right: 0;
            margin-top: 4rem;
        }
    }
    &__card-img{
        height: 21rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.inc-event{
    display: flex;    
    align-items: center;
    @media screen and (max-width: 650px){
        flex-direction: column;
    }

    &__img{
        height: 23rem;
        width: 39rem;
        object-fit: cover;
        object-position: center;
        padding-right: 2rem;
        @media screen and (max-width: 900px){
            margin-bottom: 1.5rem;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        font-family: $font-title;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: $color-secondary;
    }
    small{
        margin-bottom: 2rem;
    }
    &__content{
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
}

.glider{
    overflow-y: hidden;
}

#price-form{
    @media screen and (max-width: 525px){
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 1.5rem;
        }
    }
}

.onCourse{
    &__display{
        display: flex;
        flex-wrap: wrap;
    }
    .fb-video{
        margin-right: 4rem;
    }

    &__vid{
        margin-right: 6rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            text-transform: uppercase;
            font-size: 1.7rem;
            margin-top: 1.3rem;
            color: $color-secondary;
            font-family: $font-title;
            font-weight: 400;
        }
        p{
            color: #666;
            font-size: 1.6rem;
        }
    }
    &__video{
        border: 1px solid rgba($color: #000000, $alpha: .2)
    }
}

.load-spin{
    fill: $color-secondary;
    height: 7rem;
    width: 7rem;
    animation: spinning 2s linear infinite;
}