%event-title{
    font-size: 2.6rem;
    font-family: $font-title;
    color: $color-primary;
    text-transform: uppercase;
}

.event-page{
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    .heading--1{
        margin: 0 auto;
        margin-bottom: 8rem;
    }
    &__heading{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 41rem);
        grid-gap: 1rem;
    }
    &__group{
        position: relative;        

        &::after{
            content:"";
            height: 100%;
            width: 100%;
            background-image: linear-gradient(45deg, #181818 0%, rgba(255, 107, 38, 0.46) 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: .48;
            z-index: 500;
        }

        &--img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            filter: brightness(80%);
            position: relative;
        }
        &--info{
            color: $color-white--2;
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            z-index: 501;
            padding: 1.5rem;

            h2{
                font-size: 2rem;
                font-family: $font-title;
                text-transform: uppercase;
                text-align: right;
            }
            p{
                text-align: right;
                margin-bottom: 1rem;
            }
        }        
    }
    &__date{
        color: $color-white--3;
        position: absolute;;
        top: 1rem;
        left: 1rem;
        z-index: 650;
    }

    &__more{
        margin: 3rem 0;
        margin-top: 6rem;
        h2{
            @extend %event-title;
        }
    }

    &__body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 31rem));
        grid-template-rows: 40rem;
        grid-column-gap: 8rem;
        grid-row-gap: 4.5rem;
        margin-top: 5rem;

        .events-sect__card{
            margin: 0;
            &::after{
                top: 0;
            }
        }
        @media screen and (max-width: 600px){            
            justify-content: center;
        }
    }
    .pagination{
        &__body{
            margin-top: 3.5rem;
        }
    }
    .page-link{
        padding: 1rem 1.4rem;
        font-size: 1.5rem ;
    }
}

#event-1{
    grid-column: 1/4;
    grid-row: 1/2;
    @media screen and (max-width:450px){
        grid-column: 1/6
    } 
}

#event-2{
    grid-column: 4/6;
    @media screen and (max-width:450px){
        grid-column: 1/6;
    } 
}

#event-3{
    grid-column: 1/6
}

.incEvent{
    margin: 5rem 0;

    &>h2{
        @extend %event-title;
        margin: 4rem 0;
        margin-top: -1rem;
    }    
    &__body{
        display: flex;
        @media screen and (max-width:700px){
            flex-direction: column;
            align-items: center;
        }        
    }
    &__left{
        flex: 5;
        .event-page__group{
            &::after{
                background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba($color-white--2, .6) 100%);
            }
        }
        @media screen and (max-width:700px){
            margin-bottom: 3rem;
        }    
        img{
            height: 40rem;
        }
    }
    &__right{
        flex: 3;
        display: flex;
        flex-direction: column;
        padding:0 3rem;
        align-items: center;
        justify-content: center;

        h1{
            @extend %event-title;
            color: $color-secondary;
            margin-bottom: 2rem;            
            text-align: center;
        }
        p{
            margin-bottom: 2rem;            
            text-align: center;
        }

    }
    
    
}
// this is for event detail 

.event-left{
    grid-column: 2/7;
    padding: 0 3.5rem;
    margin: 15rem 0;
    margin-top: 10rem;
    @media only screen and (max-width: 830px){
        grid-column: 2/9;
        margin-bottom: 2rem;
    }

    &__wrap{
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
        .views{
            margin-top: 0;
            margin-right: 2.5rem;
            span{
                flex: 4
            }
        }
    }

    .heading{
    }
    &__body{
        width: 90%;
        @media (max-width: 600px){
            width: 100%;
        }
        img{
            width: 100%;
            height: 45rem;
            object-fit: cover;
            @media (max-width: 600px){
                height: 25rem;
            }
        }
    }
    &__date{
        color: #555;
        display: flex;
        align-items: center;

        svg{
            fill: rgb(107, 107, 107);
            height: 3rem;
            width: 3rem;
            margin-right: 1.5rem;
        }
    }
    &__content{

    }
    &__img{
        height: 43rem;
        width: 100%;
        object-fit: cover;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: 830px){
            height: 30rem;
        }
    }
    &__right{
        grid-column: 7/9;
        padding: 0 2.5rem;
    }
}

.event-right{
    padding: 0 2.5rem;
    grid-column: 7/9;
    margin: 10rem 0;
    margin-bottom: 15rem;
    @media only screen and (max-width: 830px){
        grid-column: 2/9
    }
    &__title{
        @extend %event-title;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        @media only screen and (max-width: 575px){
            text-align: center;
        }
    }
    &__body{
        @media only screen and (max-width: 830px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__card{
        position: relative;
        margin-bottom: 4rem;
        &::after{
            content:"";
            height: 100%;
            width: 100%;
            background-image: linear-gradient(45deg, #181818 0%, #f1ecdc81 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: .48;
            z-index: 500;
        }
        @media only screen and (max-width: 825px){
            margin-right: 2rem;
        }
        @media only screen and (max-width: 555px){
            margin-right: 0;
        }
    }
    &__img{
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }
    &__detail{
        position: absolute;
        left: 1rem;
        bottom: 0rem;
        color: white;
        z-index: 610;
        a{
            &:link, &:visited{
                color: $color-white--3;
            }
        }

        h3{
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        p{
            font-size: 1.3rem;
        }
    }
}