html {
  font-size: 62.5%; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.6rem;
  color: #333;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Muli", sans-serif; }

input.file-style {
  padding-top: 1rem !important;
  padding-bottom: 4rem !important; }

.btn {
  font-size: 1.5rem; }

.background-gray {
  background-color: #eff5f4;
  height: 100%; }

.full-page {
  height: 100vh !important; }

.danger-text {
  color: #f5546e;
  margin: 1rem 2rem;
  font-size: 1.5rem; }

.wrap-link:link, .wrap-link:visited {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes fadeIn {
  0% {
    opacity: .2; }
  100% {
    opacity: 1; } }

.fadeInAnim {
  animation: fadeIn .3s ease; }

.signup {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }
  .signup__wrapper {
    width: 70%;
    margin-top: 6rem;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .signup__form label {
    font-size: 1.5rem;
    color: #42b0ee; }
  .signup__form input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem; }
    .signup__form input::placeholder {
      font-size: 1.3rem; }
  .signup__form textarea, .signup__form select {
    font-size: 1.4rem; }

.form-group {
  margin-bottom: 1.9rem; }

.admin__heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.admin__search {
  border: none;
  background-color: #ececec;
  border-radius: 50rem;
  padding: .2rem 3rem;
  width: 33rem;
  height: 50%;
  transition: all .3s; }
  .admin__search:focus {
    outline: none;
    border: solid 1px #42b0ee; }

.admin__form {
  position: relative;
  width: 80%;
  height: 8.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.admin__icon {
  font-size: 2rem;
  position: absolute;
  top: 3.4rem;
  right: 2rem;
  cursor: pointer;
  transition: all .3s; }
  .admin__icon:hover {
    color: #f5546e; }

.create__form {
  display: flex;
  justify-content: center; }
  .create__form--width {
    width: 70%;
    margin-top: 3rem; }

.create__group {
  display: flex; }
  .create__group input {
    margin-right: 3rem; }

.heading-title {
  color: #f5546e;
  font-size: 2.5rem;
  font-family: "Faustina", serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem; }

.warning-title {
  color: #f5546e !important;
  font-size: 1.7rem;
  font-weight: 600; }

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 50%;
  background-color: white;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all .3s; }
  .popup__heading {
    font-family: "Faustina", serif;
    color: #42b0ee;
    font-size: 1.9rem;
    text-transform: uppercase;
    padding-bottom: 1rem; }
  .popup__icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    color: #f5546e;
    cursor: pointer; }
  .popup__wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100vw;
    z-index: 900; }

.navbar__style {
  padding: 2rem 2rem; }

.navbar__brand {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Faustina", serif;
  margin-right: 2rem; }

.navbar__item:link, .navbar:visited {
  padding: .5rem 1rem;
  border: solid 1px white;
  border-radius: 3px; }
  .navbar__item:link:hover, .navbar:visited:hover {
    background-color: white;
    color: black; }

.navbar__wrapper {
  display: flex;
  justify-content: space-between; }

.navbar-nav a {
  margin-right: 2rem; }

.teacher-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 28rem));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem; }
  .teacher-info__card {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .teacher-info__avatar {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; }
  .teacher-info__name {
    color: #42b0ee;
    font-family: "Faustina", serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem; }
    .teacher-info__name:hover {
      color: #f5546e; }
  .teacher-info__story {
    color: #333;
    font-size: 1.5rem; }
