html {
  font-size: 62.5%; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-size: 1.6rem;
  color: #333;
  font-weight: 300;
  line-height: 1.5;
  font-family: "Muli", sans-serif; }

input.file-style {
  padding-top: 1rem !important;
  padding-bottom: 4rem !important; }

.btn {
  font-size: 1.5rem; }
  .btn:not(:last-child) {
    margin-right: 1.5rem; }

.background-gray {
  background-color: #eff5f4;
  height: 100%; }

.full-page {
  height: 100vh !important; }

.danger-text {
  color: #f5546e;
  margin: 1rem 2rem;
  font-size: 1.5rem; }

.wrap-link:link, .wrap-link:visited {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  text-align: center; }

.activePopup {
  display: flex; }

form {
  margin-right: 1.5rem; }

.mr-2 {
  margin-right: 2rem; }

.heading-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.testimonial__form input {
  font-size: 1.5rem;
  padding: 1.9rem .5rem;
  font-family: "Muli", sans-serif; }

.testimonial__form textarea {
  font-size: 1.5rem; }

.card {
  margin-top: 6rem;
  margin-right: 3rem;
  margin-left: 3rem; }

.search-wrap {
  height: 4.5rem; }

.change-plus {
  transform: rotate(45deg); }

.height-2000 {
  height: 200rem; }

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%), scale(0.4);
    opacity: .2; }
  100% {
    transform: translate(-50%, -50%), scale(1);
    opacity: 1; } }

.fadeInAnim {
  animation: fadeIn .3s ease; }

.signup {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem; }
  .signup__wrapper {
    width: 70%;
    margin-top: 6rem;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .signup__form label {
    font-size: 1.5rem;
    color: #42b0ee; }
  .signup__form input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem; }
    .signup__form input::placeholder {
      font-size: 1.3rem; }
  .signup__form textarea, .signup__form select {
    font-size: 1.4rem; }

.form-group {
  margin-bottom: 1.9rem; }

.admin__heading {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.admin__search {
  border: none;
  background-color: #ececec;
  border-radius: 50rem;
  padding: .2rem 3rem;
  width: 33rem;
  height: 100%;
  transition: all .3s; }
  .admin__search:focus {
    outline: none;
    border: solid 1px #42b0ee; }

.admin__form {
  position: relative;
  width: 80%;
  height: 8.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.admin__icon {
  font-size: 2rem;
  position: absolute;
  top: 3.4rem;
  right: 4rem;
  cursor: pointer;
  transition: all .3s; }
  .admin__icon:hover {
    color: #f5546e; }

.create__form {
  display: flex;
  justify-content: center; }
  .create__form--width {
    width: 70%;
    margin-top: 3rem; }

.create__group {
  display: flex; }
  .create__group input {
    margin-right: 3rem; }

.course-info {
  margin-bottom: 5rem; }
  .course-info__wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
    grid-row-gap: 6rem;
    grid-column-gap: 4.6rem;
    justify-content: center;
    margin-top: 8rem; }
    .course-info__wrap .card {
      margin-left: 0;
      margin-right: 0;
      margin-top: 4rem; }
  .course-info__card-img {
    height: 21rem;
    width: 100%;
    object-fit: cover;
    object-position: center; }

.inc-event {
  display: flex;
  align-items: center; }
  .inc-event__img {
    height: 23rem;
    width: 39rem;
    object-fit: cover;
    object-position: center;
    padding-right: 2rem; }
  .inc-event__info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .inc-event__title {
    font-family: "Faustina", serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #f5546e; }
  .inc-event small {
    margin-bottom: 2rem; }
  .inc-event__content {
    font-size: 1.4rem;
    margin-bottom: 1.5rem; }

.teacher-detail {
  display: flex;
  margin-top: 10rem; }
  .teacher-detail small {
    text-align: center; }
  .teacher-detail__left {
    width: 50%;
    padding-right: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .teacher-detail__ava {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 2rem; }
  .teacher-detail__right {
    width: 85%; }
  .teacher-detail__name {
    font-family: "Faustina", serif;
    transform: skew(-15deg);
    text-transform: uppercase;
    color: #f5546e;
    font-size: 3rem; }
  .teacher-detail__specialty {
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
    color: #42b0ee; }
  .teacher-detail__video {
    display: flex;
    flex-direction: column;
    margin-top: 2rem; }
    .teacher-detail__video--each {
      margin-bottom: 3rem; }

.schedule {
  margin-top: 8rem; }
  .schedule th {
    width: 3%; }
  .schedule input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem; }
    .schedule input::placeholder {
      font-size: 1.3rem; }

.album {
  margin-top: 8rem; }
  .album label {
    font-size: 1.5rem;
    color: #42b0ee; }
  .album input {
    padding: 1.5rem 2rem;
    font-size: 1.5rem; }
    .album input::placeholder {
      font-size: 1.3rem; }
  .album textarea, .album select {
    font-size: 1.4rem; }

.album-info {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem; }
  .album-info__plus {
    background-color: #ffc107;
    height: 4.78rem;
    width: 4.78rem;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s; }
  .album-info__title {
    display: flex;
    flex-direction: column;
    width: 80%; }
    .album-info__title h4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.0rem;
      font-family: "Faustina", serif;
      background-color: #ffc107;
      margin-bottom: 0;
      padding: .8rem;
      margin-left: 1.5rem;
      width: 100%;
      text-transform: uppercase;
      padding-left: 2rem; }
  .album-info__wrap {
    margin-bottom: 10rem; }
  .album-info__display {
    background-color: #f5f5f5;
    box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-left: 1.5rem;
    display: none; }
    .album-info__display p {
      font-size: 1.4rem; }

.heading-title {
  color: #f5546e;
  font-size: 2.5rem;
  font-family: "Faustina", serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.5rem; }

.medium-title {
  color: #42b0ee;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-family: "Faustina", serif;
  font-weight: 400;
  position: relative;
  margin-top: 3rem; }
  .medium-title::after {
    content: "";
    height: 1.3rem;
    width: 5rem;
    background-color: #42b0ee;
    position: absolute;
    bottom: -2.5rem;
    left: 0; }

.warning-title {
  color: #f5546e !important;
  font-size: 1.7rem;
  font-weight: 600; }

.popup, .info-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem;
  width: 72rem;
  background-color: white;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: all .3s; }

.popup__heading, .info-popup__heading {
  font-family: "Faustina", serif;
  color: #42b0ee;
  font-size: 1.9rem;
  text-transform: uppercase;
  padding-bottom: 1rem; }

.popup__wrapper, .info-popup__wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: 900;
  top: 0;
  right: 0; }

.popup__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #f5546e;
  cursor: pointer; }

.info-popup {
  display: none; }
  .info-popup__content {
    margin-bottom: 1.5rem; }
  .info-popup__wrapper {
    display: none; }

.navbar__style {
  padding: 2rem 2rem; }

.navbar__brand {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Faustina", serif;
  margin-right: 2rem; }

.navbar__item:link, .navbar:visited {
  padding: .5rem 1rem;
  border: solid 1px white;
  border-radius: 3px; }
  .navbar__item:link:hover, .navbar:visited:hover {
    background-color: white;
    color: black; }

.navbar__wrapper {
  display: flex;
  justify-content: space-between; }

.navbar-nav a {
  margin-right: 2rem; }

.teacher-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 28rem));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  align-items: start;
  justify-content: center;
  margin-top: 3rem; }
  .teacher-info__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
  .teacher-info__avatar {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%; }
  .teacher-info__name {
    color: #42b0ee;
    font-family: "Faustina", serif;
    font-weight: 500;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem; }
    .teacher-info__name:hover {
      color: #f5546e; }
  .teacher-info__story {
    color: #333;
    font-size: 1.5rem; }
  .teacher-info__icon {
    font-size: 2rem;
    color: #f5546e;
    padding: .5rem .9rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 6rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(1.2rem);
    opacity: 0;
    transition: all .4s; }
  .teacher-info__card:hover .teacher-info__icon {
    opacity: 1;
    transform: translateY(0); }

.quote__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-column-gap: 2.2rem;
  grid-row-gap: 2.5rem; }

.quote__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cecece;
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative; }
  .quote__card-content {
    font-family: "Faustina", serif;
    font-size: 1.4rem; }
  .quote__card-link {
    align-self: flex-end;
    font-size: 1.4rem; }

.glider__body {
  position: relative; }

.glider__icon {
  position: absolute;
  cursor: pointer;
  z-index: 1000;
  height: 6.5rem;
  width: 6.5rem;
  fill: #b7b7b7; }
  .glider__icon--left {
    top: 21.5rem;
    left: -5rem; }
  .glider__icon--right {
    top: 21.5rem;
    right: -5rem; }
