
.glider{

    &__body{
        position: relative;

    }
    &__icon{
        position: absolute;
        cursor: pointer;
        z-index: 1000;
        height: 6.5rem;
        width: 6.5rem;
        fill: #b7b7b7;

        &--left{
            top: 21.5rem;
            left: -5rem;
            
        }
        &--right{
            top: 21.5rem;
            right: -5rem;
            
        }
    }
    
}