
.header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(226, 226, 226);
    box-shadow: -2px 6px 5px -5px rgba(0,0,0,0.48);
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        img{
            height: 7rem;
        }
    }
    &__right{
        @media only screen and (max-width: 820px){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__left{
        @media only screen and (max-width: 820px){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__responsive{
        display: none;
        fill: rgb(94, 94, 94);
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        &:hover{
            fill: $color-secondary;
        }
        @media only screen and (max-width: 820px){
            display: flex;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        margin-bottom: 0;
        @media only screen and (max-width: 820px){
            display: none;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 2rem;
        }
    }
    &__item{
        padding: 4rem 2.2rem;
        transition: all .3s;
        position: relative;
        @media only screen and (max-width: 820px){
            padding: 0;
            margin-bottom: 1.5rem;
        }

        &::after{
            content: "";
            background-color: $color-primary;
            height: 1rem;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 200;
            transform: scaleX(0);
            transition: all .3s;

            @media only screen and (max-width: 820px){
                display: none;
            }
        }

        &:hover{
            background-color: $color-white--2;
        }
        &:hover::after{
            transform: scaleX(1);
        }
    }
    &__link{
        &:link, &:visited{
            text-decoration: none;
            color: #333;
            text-transform: capitalize;
        }
    }
    &__active{
        background-color: rgb(240, 240, 240);
        &::after{
            transform: scaleX(1);
        }
        a{
            &:link, &:visited{
                color: $color-primary;
            }
        }
    }
}

