%popup-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 4rem;
    width: 72rem;
    background-color: white;
    box-shadow: 0 .5rem 4rem rgba($color: #000000, $alpha: .5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all .3s;

    @media screen and (max-width: 900px){
        height: 90%;
        width: 90%;
        overflow-y: scroll;
    }
}

%heading-style{
    font-family: $font-title;
    color: $color-primary;
    font-size: 1.9rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

%wrapper-style{
    position: fixed;
    background-color: rgba($color: #000000, $alpha: .2);
    height: 100vh;
    width: 100vw;
    z-index: 900;
    top: 0;
    right: 0;
}

.popup{
    @extend %popup-style;

    &__heading{
        @extend %heading-style;
    }
    &__icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: $color-secondary;
        cursor: pointer;
    }

    &__wrapper{
        @extend %wrapper-style;
    }
}

.info-popup{
    @extend %popup-style;
    display: none;
    &__heading{
        @extend %heading-style;
    }
    &__content{
        margin-bottom: 1.5rem;
    }
    &__wrapper{
        @extend %wrapper-style;
        display: none;
    }
}

#onCourse {
    .info-popup__wrapper{
        display: block;
        z-index: 2000;
    }
    .info-popup{
        display: block;
        z-index: 1000;
    }
}