.teacher-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 28rem));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    align-items: start;
    justify-content: center;
    margin-top: 3rem;

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__avatar{
        height: 18rem;
        width: 18rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
    &__name{
        color: $color-primary;
        font-family: $font-title;
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: 1rem;
        &:hover{
            color: $color-secondary
        }
    }
    &__story{
        color: #333;
        font-size: 1.5rem;
    }
    &__icon{
        font-size: 2rem;
        color: #f5546e;
        padding: .5rem .9rem;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 6rem;
        cursor: pointer;
        box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,.2);
        transform: translateY(1.2rem);
        opacity: 0; 
        transition: all .4s;

        &:hover{
        }
    }

    &__card:hover &__icon{        
        opacity: 1;
        transform: translateY(0)
    }
}