.teacher-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 28rem));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__avatar{
        height: 18rem;
        width: 18rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
    &__name{
        color: $color-primary;
        font-family: $font-title;
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        margin-top: 1rem;
        &:hover{
            color: $color-secondary
        }
    }
    &__story{
        color: #333;
        font-size: 1.5rem;
    }
}