
.heading-title{
    color: $color-secondary;
    font-size: 2.5rem;
    font-family: "Faustina", serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.warning-title{
    color: $color-secondary !important;
    font-size: 1.7rem;
    font-weight: 600;
}