@keyframes fadeIn{
    0%{
        transform: translate(-50%, -50%), scale(.4);
        opacity: .2;
    }
    100%{
        transform: translate(-50%, -50%), scale(1);
        opacity: 1;
    }
}

.fadeInAnim{
    animation: fadeIn .3s ease;
}