
.grid{
    display: grid;
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(7, minmax(min-content, 16.2rem)) [center-end] minmax(2rem, 1fr) [full-end]; 
    grid-template-rows: auto;   
    justify-content: center;

    &__container{
        grid-column: center-start / center-end;
    }

    &__fluid{
        grid-column: full-start / full-end;
    }
}

.inner-container{
    max-width: 1140px;
    margin: 0 auto;

    @media only screen and (max-width: 1040px){
        padding: 1rem 2rem;
    }
}

