input.file-style{
    padding-top: 1rem !important;
    padding-bottom: 4rem !important;
}

.btn{
    font-size: 1.5rem;
    &:not(:last-child){
        margin-right: 1.5rem;
    }
}

.background-gray{
    background-color: #eff5f4;
    height: 100%;
}

.full-page{
    height: 100vh !important;
}

.danger-text{
    color: $color-secondary;
    margin: 1rem 2rem;
    font-size: 1.5rem;
}
.wrap-link{
    &:link, &:visited{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        text-align: center;
    }
}

.activePopup{
    display: flex;
}

form{
    margin-right: 1.5rem;
}
