$font-primary: 'Muli', sans-serif;
$font-title: 'Faustina', serif;

$color-primary: #42b0ee;
$color-secondary: #f5546e;

$color-gradient1: #fd505d;
$color-gradient2: #B721FF;

$color-white--2: #f1f1f1;
$color-white--3: #f3eaec;

$spacer: .5rem;

html{
    font-size: 62.5%;
    @media only screen and (max-width: 1040px){
        font-size: 55%;
    }
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    color: #333;
    font-weight: 300;
    line-height: 1.5;
    font-family: $font-primary;
}