%symbol{    
    content: "";
    height: 1.2rem;
    width: 5rem;
    position: absolute;
    transform-origin: left;
    transition: all .3s;

    @media screen and (max-width: 500px){
        display: none;
    }
}

.heading{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: $font-title;
    margin-bottom: 4.5rem;
    position: relative;
    @media screen and (max-width: 500px){
        margin: 2rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    
    &--1{ // left align red color
        color: $color-secondary;
        &::after{    
            @extend %symbol;            
            background-color: $color-secondary;
            bottom: -30px;
            left: 0;
        }

    }
    &--2{ // with symbol align right red color
        color: $color-secondary;        
        &::after{
            @extend %symbol;            
            background-color: $color-secondary;
            bottom: -30px;
            right: 0;
        }
    }
    &--3{ // no symbol white color
        color: $color-white--2;
    }
    &--4{ // symbol and blue color
        color: $color-primary;        
        &::after{
            @extend %symbol;            
            background-color: $color-primary;
            bottom: -30px;
            left: 0;
        }
    }
    &--5{ // no symbol blue color
        color: $color-primary;
    }
}

.content{

    &--white{
        color: $color-white--2;
    }
}