<%- include('../includes/html-head.ejs') %>
<div class="background-gray" id="signup">
<%- include('../includes/popup.ejs',{heading: 'Your code has been send', 
                    content: 'please take the code and enter it to code field' }) %>

    <div class="container signup">
        <div class="signup__wrapper">
        
            <h1 class="heading-title">Đăng kí</h1>
            <h4>Have an account? <a href="/teacher/login">Login now</a></h4>
            <form class="signup__form" 
                    action="/teacher/signup" 
                    method="POST"
                    enctype="multipart/form-data">

                <div class="form-group">
                    <label for="email">Email address*</label>
                    <input type="email" 
                            class="form-control" 
                            name="email"
                            placeholder="Enter email"
                            v-model.lazy="email"
                            @change="checkEmail">
                    <small v-if="canUse === false" class="danger-text"> This email has existed ! please choose another one </small>
                    <small id="emailHelp" class="form-text text-muted">Email của bạn sẽ được dùng làm tên đăng nhập</small>
                </div>

                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" 
                            class="form-control" 
                            name="password" 
                            placeholder="Password"
                            v-model.lazy="pass">
                    <small v-if="passCheck === false" class="danger-text"> Your password should have at least 6 characters long</small>
                    <small class="form-text text-muted">Password nên có chiều dài từ 6 kí tự trở lên</small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">confirm password*</label>
                    <input type="password" 
                            class="form-control"  
                            name="cfPassword"
                            v-model.lazy="cfPass"
                            placeholder="confirm password">
                    <small v-if="sameCheck === false" class="danger-text"> Password confirm and password should be the same </small>
                    
                </div>

                <hr>

                <p class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    Dưới đây là thông tin cá nhân mà một giáo viên cần có
                    và có thể cập nhật sau này.
                </p>

                <div class="form-group">
                    <label for="name">Họ và Tên của bạn</label>
                    <input type="text" 
                            class="form-control" 
                            name="teacherName"
                            placeholder="Enter Name">                    
                </div>

                <div class="form-group">
                    <label for="specialty">Chuyên môn của bạn</label>
                    <input type="text" 
                            class="form-control" 
                            name="specialty"
                            placeholder="Enter Your specialty">  
                    <small class="form-text text-muted">Ví dụ: Tiếng Anh (TOEIC), Tiếng Trung (chứng chỉ Y),....</small>                  
                </div>

                <div class="form-group">
                    <label for="story">Một chút về bạn</label>
                    <textarea name="story" cols="30" rows="10" placeholder="Your story" class="form-control"></textarea>
                    <small class="form-text text-muted">Ví dụ: Tôi là ai, tại sao tôi đến với nghề này,...</small>                  
                </div>

                <div class="form-group">
                    <label for="avatar">Chọn hình ảnh đại diện</label>
                    <input type="file" 
                            class="form-control file-style" 
                            name="avatar"
                            >                
                </div>

                
                <div class="form-group">
                    <label for="name" class="warning-title">Role Code</label>
                    <input type="text" 
                            name="roleCode"
                            class="form-control" 
                            placeholder="Enter Code"
                            v-model.lazy="roleCode"
                            @change="checkRoleCode()">
                    <p class="danger-text">{{ codeInfo }}</p>
                </div>     
                
                <div class="form-group">      
                    <select v-model="role" class="form-control">
                        <option value="admin">admin</option>
                        <option value="teacher">teacher</option>
                        <option value="assistant">assistant</option>
                    </select>                    
                    <a href="#" @click="getCode()">Get code now !</a><br>
                </div>

                    
                <button type="submit" class="btn btn-primary" 
                        :disabled="canUse === false || passCheck === false || sameCheck === false || !basicFill || codeInfo === 'This is invalid code' || roleCode === ''">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="javascripts/signUpCheck.js"></script>

<%- include('../includes/footer.ejs') %>