<%- include('../includes/html-head.ejs') %>
<div class="background-gray">

    <div class="container signup">

        <div class="signup__wrapper">
        
            <h1 class="heading-title">Đăng kí giáo viên</h1>
            <form class="signup__form" 
                    action="/teacher/signup" 
                    method="POST"
                    enctype="multipart/form-data">

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" 
                            class="form-control" 
                            name="email"
                            placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Email của bạn sẽ được dùng làm tên đăng nhập</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" 
                            class="form-control" 
                            name="password" 
                            placeholder="Password">
                    <small class="form-text text-muted">Password nên có chiều dài từ 6 kí tự trở lên</small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">confirm password</label>
                    <input type="password" 
                            class="form-control"  
                            name="cfPassword"
                            placeholder="confirm password">
                </div>

                <hr>

                <p class="alert alert-info">
                    Dưới đây là thông tin cá nhân của một giáo viên cần có
                    và có thể cập nhật sau này.
                </p>

                <div class="form-group">
                    <label for="name">Họ và Tên của bạn</label>
                    <input type="text" 
                            class="form-control" 
                            class="teacherName"
                            placeholder="Enter Name">                    
                </div>

                <div class="form-group">
                    <label for="specialty">Chuyên môn của bạn</label>
                    <input type="text" 
                            class="form-control" 
                            name="specialty"
                            placeholder="Enter Your specialty">  
                    <small class="form-text text-muted">Ví dụ: Tiếng Anh (TOEIC), Tiếng Trung (chứng chỉ Y),....</small>                  
                </div>

                <div class="form-group">
                    <label for="story">Một chút về bạn</label>
                    <textarea name="story" cols="30" rows="10" placeholder="Your specialty" class="form-control"></textarea>
                    <small class="form-text text-muted">Ví dụ: Tôi là ai, tại sao tôi đến với nghề này,...</small>                  
                </div>

                <div class="form-group">
                    <label for="teacherImg">Một số hình ảnh khi giảng dạy</label>
                    <input type="file" 
                            class="form-control file-style" 
                            name="teacherImgs"
                            multiple>                
                </div>

                <div class="form-group">
                    <label for="avatar">Chọn hình ảnh đại diện</label>
                    <input type="file" 
                            class="form-control file-style" 
                            name="avatar"
                            >                
                </div>

                <!--
                <div class="form-group">
                    <label for="name" class="warning-title">Teacher Code</label>
                    <input type="text" 
                            class="form-control" 
                            class="teacherName"
                            placeholder="Enter Name">                    
                </div>
                -->              

                    
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>